/*Feedback page Styling */
.feedback-container{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #f8e06b;
    border-radius: 10px;
    text-align:left
}

.feedback-container h1{
    color: #a18100;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.feedback-container input {
    height: 30px;
}

.name-inputs{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
    height: 40px;
    font-size: 14px;  
}

/* Rating Section */
.rating-section {
    text-align: center;
    color: #a18100;
    
}



.stars {
    display: flex;
    flex-direction: row-reverse; /* Ensures correct order */
    justify-content: center;
    gap: 20px; /* Increased spacing */
    margin-bottom: 20px;
}

.stars input {
    display: none; /* Hide radio buttons */
}

.star {
    font-size: 100px; /* Make stars bigger */
    cursor: pointer;
    color: whitesmoke;
    border: #333;
    border-width: 50px;
    transition: color 0.3s ease;
}

/* Highlight stars on hover */
.star:hover,
.star:hover ~ .star {
    color: #a18100;
}

/* Keep stars highlighted when selected */
.stars input:checked ~ label {
    color: #a18100;
}

/* Highlight stars on hover */
.stars label:hover,
.stars label:hover ~ label {
    color: #a18100;
}

/* Keep stars highlighted when selected */
.stars input:checked ~ label {
    color: #a18100;
}

/*Form Styling*/
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label{
    font-size: 18px;
    font-weight: bold;
    color: #a18100;
}

input,textarea{
    width: 100%;
    height: 70px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #eee;
    resize: none;
}

.submit-btn{
    background-color: #a18100;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}
.submit-btn:hover {
    background-color: #e6c200;
}

.popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}


.popup-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: gold;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.popup-content button:hover {
    background-color: #e6c200;
}

/* Responsive */
@media (max-width: 768px) {
    .feedback-container {
        width: 90%;
    }
}